body {
    background-color: #ffffff;
    font-size: 16px;
    font-family: Arial, sans-serif;
    text-decoration: none;
    line-height: 1;
    text-align: left;
}

h1, h2, h3 {
    color: #000000;
    font-family: Arial, sans-serif !important;
    text-align: center;
}

h1 {
    font-size: 2em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h2 {
    font-size: 1.5em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h3 {
    font-size: 1.3em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav ul li a {
    text-decoration: none;
    font-size: 18px;
    color: #148689;
    font-weight: bold;
}

a {
    color: #ef88a4;
    text-decoration: underline;
}

a:hover {
    color: rgb(204, 39, 110);
}

.main-text{
    font-size: 16px; 
    color: #5f5d5b; 
    text-decoration: overline;
    line-height: 1.5; 
    text-align: center;
}

#facts{
    color: #733b02; 
    text-decoration: none;
    line-height: 1.5; 
    text-align: left;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td, th {
    border: 2px solid black; 
    padding: 10px;
    text-align: center; 
}

th {
    background-color: #148689;
    color: white;
}

.bestsellers-table1{
    background-color: #148689;
    color: white;
}

.bestsellers-table2{
    text-align: center; 
    background-color: #b3cccd;
}

.contacts-ul{
    list-style-type: square;
}

ul, ol {
    font-family: Arial, sans-serif;
    font-size: 18px;
    color: #333;
    margin-left: 20px;
}

dl {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 5px;
}

dt {
    font-weight: bold;
    color: #148689;
}

dd {
    margin-left: 20px;
    color: #555;
}